/res/*.php
/res/style.css
/res/cze/
/res/cs/
/res/ger/
/res/de/
/res/eng/
/res/en/
/res/slo/
/res/sk/
.*.swp
/misc/enquiry/2014/*/
/misc/server_linuxalt_cz/

res.old_local-res.old_remote.diff
res.old_local
res.old_remote
debug*
