/res/*.php
/res/style.css
/res/cze/
/res/cs/
/res/ger/
/res/de/
/res/eng/
/res/en/
/res/slo/
/res/sk/
.*.swp
/misc/enquiry/2014/*/
/misc/server_linuxalt_cz/
/misc/server_openalt_org/
/misc/partners/

res.*
debug*
