/res/assets/*
/res/*.php
/res/style.css
/res/cze/
/res/cs/
/res/ger/
/res/de/
/res/eng/
/res/en/
/res/slo/
/res/sk/
.*.swp
/misc/advertising/
/misc/enquiry/2014/*/
/misc/server_*/
/misc/schedule/2015/*json
/misc/partners/
/misc/openalt_cz-assets/

res.*
debug*
*.sigsegv00
